.header
    background-color: #51367e
    height: 3rem

.logo
    width: 2rem
    height: 2rem
    margin: .5rem
    cursor: pointer
    background: url("~/assets/logo.png") no-repeat
    background-size: 2rem

.nav
    margin: auto .25rem
    font-family: sans-serif
    color: #c9b26b

.nav.active
    font-weight: 600

.nav label
    cursor: pointer
    margin: 0