<div class="container-fluid header">
    <div class="row">
        <div class="col-auto">
            <img src="../../assets/logo.png" alt="logo" class="logo">
        </div>
        <div class="col-auto nav active" id="home">
            <label for="home">Home</label>
        </div>
        <div class="col-auto nav" id="work">
            <label for="home">Work</label>
        </div>
        <div class="col-auto nav" id="about">
            <label for="about">About</label>
        </div>
    </div>
</div>