<div class="container-fluid main-content">
    <div class="row main-content-intro">
        <div class="col-sm-12 col-md-12 col-lg-5">
            <img src="../../assets/logo.png" alt="logo" class="logo">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="introduction separator">
                <div class="intro">
                    <span id="intro"></span>
                    <span id="blinker-intro" class="blinker">_</span>
                </div>
                <div class="intro-details">
                    <span id="intro-details"></span>
                    <span id="blinker-intro-details" class="blinker">_</span>
                </div>
                <div class="swipe-down">
                    Swipe Down
                    <em class="fas fa-arrow-down"></em>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row main-content-intro">
    </div> -->
</div>